{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
        <img src="https://images-na.ssl-images-amazon.com/images/I/416KGdCgQnL._SX331_BO1,204,203,200_.jpg" class="card-img-top" alt="Responsive image">
        <h3 class="card-header">{{ book.Name }} By {{ book.Author }}</h3>
        <div class="card-body">
            Submitted By: <a href="{{ path('user_show', {'id' : book.submitterid}) }}">{{ book.SubmitterName }}</a>
            <hr>
            Last Bidder: <a href="{{ path('user_show', {'id' : bids[0].userid}) }}">{{ bids[0].userid }}</a>
            Author: {{ book.Author }}
            Price: €{{ bids[0].Price }}
            ISPN: {{ book.ISPN }}
            {% if is_granted('ROLE_USER')  %}
                {% if app.user.id == book.SubmitterId %}
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                    {{ include('book/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
        </div>
        <div class="col">
            {{ include('book/bid/index.html.twig') }}
            {% if is_granted('ROLE_USER')  %}
                {{ include('book/bid/new.html.twig') }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
