{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ comment.UserId }}</td>
            </tr>
            <tr>
                <th>BookId</th>
                <td>{{ comment.BookId }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ comment.Text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_comment_index') }}">back to list</a>

    <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('admin/comment/_delete_form.html.twig') }}
{% endblock %}
